<mat-grid-list cols="3" rowHeight="500px">

  <mat-grid-tile [colspan]="2" [style.background]="lightblue">
    <mat-card class="camera-card">
      <mat-card-title>Camera Feed Here</mat-card-title>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="1" >
    <mat-card class="map-card">
      <agm-map

      [latitude]="init_lat"
      [longitude]="init_lng"
      [zoom]="init_zoom"

      (mapClick)="onChosenLocation($event)">

        <agm-marker

        [latitude]="lat"
        [longitude]="lng"
        *ngIf="locationChosen">

        </agm-marker>
      </agm-map>

      <button mat-raised-button color="primary" (click)="gen_path_handler($event)">Generate Path</button>
    </mat-card>
  </mat-grid-tile>
  
</mat-grid-list>