<mat-grid-list cols="3" rowHeight="500px">

  <mat-grid-tile [colspan]="2" [style.background]="lightblue">
    <mat-card class="camera-card">

      <img id="map_image" src="{{map_url}}" style="display:none" width="480" height="480">


<!-- <a download='file.png' href="https://maps.googleapis.com/maps/api/staticmap?center=43.266951,-79.921734&zoom=15&size=480x480&markers=43.26691975040189,-79.92495935634042&style=feature:all|element:labels|visibility:off&style=feature:road|visibility:off&key=AIzaSyDdjnJdmnyoNX2btE-w8MHDdeTPhQgb6cs">
  Download
</a> -->
      <!-- <img [src]="imageToShow" alt="Click the map and click generate"> -->
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="1" >
    <mat-card class="map-card">
      <agm-map

      [latitude]="init_lat"
      [longitude]="init_lng"
      [zoom]="init_zoom"

      (mapClick)="onChosenLocation($event)">

        <agm-marker
        [latitude]="marker_lat"
        [longitude]="marker_lng"
        *ngIf="locationChosen">

        </agm-marker>
      </agm-map>

      <button mat-raised-button color="primary" (click)="gen_path_handler($event)">Generate Path</button>
    </mat-card>
  </mat-grid-tile>
  
</mat-grid-list>